doctype html
html
  head
    title 學分計算機
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Sakamoto')
    link(rel='shortcut icon' type='image/x-icon' href='./img/icon.png')
    block style
  body
    block content
    
    script(src='./js/libs/jquery-2.2.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js')
    block js
